<!doctype html>
<html lang="en" ng-app="js_coding_exercise">

<head>
  <meta charset="utf-8">
  <title>JS Coding Exercise</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="js/controller.js"></script>
</head>

<body ng-controller="JsCodingExercise">
  <div class="container">
    <div class="row">
      <div class="page-header col-xs-12">
        <h1 class="text-center">JS Coding Exercise</h1>
      </div>
      <div class="col-xs-12">
        <div>
          <h3>Search</h3>
        </div>
        <div class="panel-body">

        </div>
      </div>
      <div class="table-responsive col-xs-12">
        <table class="table table-hover table-condensed">
          <thead style="font-weight: bold">
            <tr>
              <td>Name</td>
              <td style="width: 50%">Content</td>
              <td>Last modified</td>
              <td style="width: 5%"></td>
            </tr>
            <tr>
              <td>
                <input ng-model="new.name" type="text" class="form-control"></input>
              </td>
              <td>
                <input ng-model="new.content" type="text" class="form-control"></input>
              </td>
              <td></td>
              <td>
                <a ng-click="create(new)" href="#" style="color:green">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in notes">
              <td>
                <span editable-text="note.name" class="list-group-item-heading inline-block" onbeforesave="update(note)">{{note.name}}</span>
              </td>
              <td>
                <span editable-text="note.content" class="inline" onbeforesave="update(note)">{{note.content}}</span>
              </td>
              <td>
                <small class="inline">{{note.last_modified | date:'dd/MM/yyyy, h:m a'}}</small>
              </td>
              <td>
                <a ng-click="delete(note.id)" href="#" style="color:red">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
